@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');


:root {
    --color-primary: #3017FE;
    --color-primary-accent-1: #2010C8;
    --color-primary-accent-2: #5040FF;

    --color-secondary: #FFFFFF;
    --color-secondary-accent-1: #FFFFFF;
    --color-secondary-accent-2: #E8E4FF;

    --color-background: #FFFFFF;

    --color-text-light:#FFFFFF;
    --color-text-dark: #000000;

    --font-header: 'Jockey One', sans-serif;
    --font-paragraph: 'Josefin Sans', sans-serif;

}

html body {
    width: 100% !important;
    margin: 0 auto;
    padding: 0;
}

body{
    font-family: var(--font-paragraph);
    font-size: 18px;
    font-weight: 350;
}

h1{
    font-family: var(--font-header);
    font-size: 40px;
    font-weight: 500;
    color: var(--color-primary);
}

h2{
    font-family: var(--font-paragraph);
    font-size: 20px;
    font-weight: 500;
    color: var(--color-primary);
}

button{
    font-family: var(--font-paragraph);
    font-size: 18px;
    padding: 15px 20px;
}
